name: "AutoReview"

on:
    push:
        branches:
            - "main"
            - "master"
    pull_request: null
    schedule:
        - cron: '0 0 1 * *'

jobs:
    phpstan:
        runs-on: "ubuntu-latest"
        name: "PHPStan on PHP ${{ matrix.php }}"
        strategy:
            fail-fast: false
            matrix:
                php:
                    - "8.5"
        steps:
            -   name: "Check out repository code"
                uses: "actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744" # v3.6.0

            -   name: "Setup PHP"
                uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # v2.36.0
                with:
                    php-version: "${{ matrix.php }}"
                    tools: "composer"

            -   name: "Install Composer dependencies"
                uses: "ramsey/composer-install@1919f6c305aea6ab10e6181a8ddf72317ad77e0e" # 2.3.1
                with:
                    dependency-versions: "highest"

            -   name: "Perform static analysis"
                run: "make phpstan"


    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the E2E tests one above which
    # may change regularly.
    # This allows us to mark only this job as required instead of each individual
    # ever-changing E2E tests.
    validate-tests:
        name: "AutoReview Status"
        runs-on: "ubuntu-latest"
        needs:
            - "phpstan"
        if: "always()"
        steps:
            - name: "Successful run"
              if: "${{ !(contains(needs.*.result, 'failure')) }}"
              run: "exit 0"

            - name: "Failing run"
              if: "${{ contains(needs.*.result, 'failure') }}"
              run: "exit 1"
